# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*
~$*

# IDE files #
/.idea

# Distribution #
/build/
/dist/
/pacmill.egg-info/

# Testing #
/.pytest_cache/

# Large demo files #
*.sra
*.fastq.gz
/demo_project/output/