Taxonomy report
===============

General Information
-------------------
This taxonomic classification report is based on the "`{{tax_tag}}`" method. It is part of the project named "`{{proj_short_name}}`" which is described as "{{proj_long_name}}".

-------

Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation and source code is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: `{{git_hash}}`
{{/git}}

-------

Taxonomic classification
------------------------

{{#taxonomy}}
Relying on databases of ribosomal genes, we can attempt to classify each OTU and give it an approximative affiliation. This pairs OTU to predicted taxonomic names where possible. This is done using the "{{tax_long_method}}" method and "{{tax_long_database}}".

Out of our {{otus_count}} OTUs some remain totally unclassified while others have predictions at different positions in the tree of life. The proportion of classified OTUs is summarized below:

{{otu_classified_table}}

Composition
-----------
We are now able to produce a bar-chart detailing the composition in terms of taxonomy of every one of our samples. Once again, this can be done at several ranks of classification ranging from *Domain*, down to *Species*. At levels that are too deep, such visualization become too crowded and unreadable. This of course depends on the complexity of the samples. Here are plotted different taxonomic levels in the following figures.

{{taxa_barstacks}}

{{/taxonomy}}

{{^taxonomy}}
The taxonomic classification algorithm has not been run on this project yet. Please run the pipeline and regenerate this report.
{{/taxonomy}}