Project report
==============

General Information
-------------------
This is the project named "`{{proj_short_name}}`". It contains {{count_samples}} samples. It is described as "{{proj_long_name}}".

-------

Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation and source code is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: `{{git_hash}}`
{{/git}}

-------

Samples
-------
Some summary information concerning the samples is given in table 1 below.

{{sample_table}}

Input data
----------
Summing the reads from all the samples, we have {{count_sequences}} sequences to work on. Before starting the analysis we can look at the length distribution pattern that these reads form in figure \ref{input_length_dist}.

{{input_length_dist}}

-------

Clustering into OTUs
--------------------

{{#otus}}
Two sequences that diverge by no more than a few nucleotides are probably not produced by ecological diversity. They are most likely produced by errors along the laboratory method and the sequencing. Therefore, we place them together in one unit, called an "Operational Taxonomic Unit".

For this clustering, we use the `vsearch --cluster_size` algorithm.

The similarity threshold chosen is {{otus_threshold}}. Exactly {{otus_total}} OTUs are produced.
{{/otus}}

{{^otus}}
The OTU clustering algorithm has not been run on this project yet. Please run the pipeline and regenerate this report.
{{/otus}}

-------

Taxonomic classification
------------------------

{{#taxonomy}}
Relying on databases of ribosomal genes such as Silva, we can classify each OTU and give it an approximative affiliation. This pairs each OTU to a taxonomic name. This is done using {{classify_citation}} and {{classify_database}}.

Out of our {{otus_total}} OTUs, some are totally unclassified while others have predictions at different positions in the tree of life. The proportion of classified OTUs is summarized below:

{{otu_classified_table}}
{{/taxonomy}}

{{^taxonomy}}
The taxonomic classification algorithm has not been run on this project yet. Please run the pipeline and regenerate this report.
{{/taxonomy}}

-------
