Project report
==============

General Information
-------------------
This is the project named "`{{proj_short_name}}`". It contains {{count_samples}} samples. It is described as "{{proj_long_name}}".

-------

Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation and source code is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: `{{git_hash}}`
{{/git}}

-------

Samples
-------
Some summary information concerning the samples is given in table 1 below.

{{sample_table}}

Input data
----------
Summing the reads from all the samples, we have {{count_sequences}} sequences to work on. Before starting the analysis we can look at the length distribution pattern that these reads form in figure \ref{input_length_dist}.

{{input_length_dist}}

-------

Clustering into OTUs
--------------------

{{#otus}}
Two sequences that diverge by no more than a few nucleotides are probably not produced by ecological diversity. They are most likely produced by errors along the laboratory method and the sequencing. Therefore, we place them together in one unit, called an "Operational Taxonomic Unit".

For this clustering, we use the `vsearch --cluster_size` algorithm.

The similarity threshold chosen is {{otus_threshold}}. The minimum size for an OTU to not be discarded is {{otus_min_size}}. Exactly {{otus_total}} OTUs are produced.

OTU table
---------
A table with OTUs as rows and samples as columns is produced. Each cell within this table tells us how many sequences are participating in the given OTU from the given sample. This table is often too big to be viewed directly here. However, we can plot some of its properties to better gauge the sparsity as seen in figures \ref{otu_sums_graph}, \ref{sample_sums_graph} and \ref{cumulative_presence}:

{{otu_sums_graph}}

{{sample_sums_graph}}

{{cumulative_presence}}

{{/otus}}

{{^otus}}
The OTU clustering algorithm has not been run on this project yet. Please run the pipeline and regenerate this report.
{{/otus}}

-------

{{#comparison}}

Comparison
----------
We now would like to start comparing samples amongst each other to determine which ones are similar or if any clear groups can be observed. A first means of doing that is by using the information in the OTU table and a distance metric such as the "Horn 1966 (adapted from Morisita 1959)" one to place them on an ordination plot. This can be seen in figure \ref{otu_nmds}.

{{otu_nmds}}

These kind of graphs have a random component to them and can be easily influenced by one or two differently looking samples.

Distances
---------
To compute beta diversity, other distance measures are possible of course. Bray-Curtis and Jaccard distance matrices can be created. We can also explore phylogenetic distance measures such as the UniFrac one. This is also possible and a UniFrac distance matrix can easily be computed. One can also build a hierarchical clustering of the samples from it (not included).

{{/comparison}}
